/*********************************************************************
***
*Original Author:                                   Hunter Evans
*Date Created:                                      17 September 2023
*Version:                                           5
*Date Last Modified:                                13 October 2023
*Modified by:                                       Hunter Evans
*Modification log:                                  5

    Version 2 - 17 September 2023 - Updated site.
    Version 3 - 01 October 2023 - Updated site.
    Version 4 - 08 October 2023 - Added jQuery to FAQ, contact, and News Letter pages. Also added some content
                                  to the paragraph tags.
    Version 5 - 13 October 2023 - Fixed centering issues. Added time and date feature to newsLetterSent.html 
                                  and contactSent.html.
***
******************************************************************** */


@media only screen and (min-width: 1260px) {
    main{
        margin-left: 870px;
    }
}
@media only screen and (max-width: 1260px) {
    main {
        margin-left: 300px;
    }
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #99D9EA;
}
#logo{
    padding: 0px;
}
nav{
padding-bottom: 10px;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline;
    margin: 0px 10px;
}

form div{
    margin-bottom: 10px;
}
span{
    color: rgb(209, 10, 10);
}
