/*
Hunter Evans
19 April 2023
*/

.image{
  background-color: rgb(190, 167, 167);
  border: 1px solid black;
  float: left;
  margin: 10px 15px;
  padding: 0px 100px;
  text-align:center;
}
.image h3{
  padding: 8px 45px 20px;
}
.image p{
  padding-bottom: 6px;
}
footer{
  clear: left;
}
p b{
  padding-left: 349px;
}